*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
:root{
    --bg-color:#0c0c0c;
    --text-color:#fff;
    --main-color:#ae8957;
    --big-font:6.6rem;
    --p-font :1rem;
}
body{
background: url(img/bg.png);
    color: var(--text-color);
}
/*
header{
    position: fixed;
    width: 100%;
    top: 0; right: 0;
    padding: 35px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}
*/
h1,
ul,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*Layouts*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100%-2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-1 {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}

/*NAV*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 30px;
    margin-top: 15%;
}

.nav__close,
.nav__toggle {
    display: none;
}

@media screen and (max-width:768px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 3.5rem 1.5rem 0;
        background: rgba(255, 255, 255, .3);
        backdrop-filter: blur(10px);
        transition: .5;
    }

    .nav__close,
    .nav__toggle {
        display: inline;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
    }

}

.nav__close {
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__item {
    margin-bottom: 2rem;
}

.nav__close,
.nav__link,
.logo,
.nav__toggle {
    color: #fff;
}

.nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
}
.nav-btn:hover {
    transform: translateY(-5px);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}
.right-content {
    display: flex;
    align-items: center;
}
.nav-btn {
    display: inline-block;
    padding: 9px 24px;
    background: transparent;
    border: 2px solid var(--text-color);
    border-radius: 7px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition: all .6s ease;
}
.nav__list{
    display: flex;
}
.nav__list .nav__item .nav__link{
    display: inline-block;
    margin: 0 35px;
    color: var(--text-color);
    font-size: var(--p-font);
    transition: all .6s ease;
}
.nav__list .nav__item .nav__link:hover{
    color: var(--main-color);
}
.logo img {
    width: 100%;
    height: auto;
}
/*Show menu*/
.show {
    right: 0;
}


section{
    padding: 0 14%;
}

.hero{
    position: relative;
    top:100px;
   width: 100%;
   height: auto;
 background-size: cover;
 background-position: center;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 align-items: center;
 gap: 2rem;
 padding: 0 20px;
}
.hero-img img{
    width: 100%;
    height: auto;
}
.hero-text h1{
  font-size: var(--big-font);
  margin: 15px 0;
  font-weight: 900;
}
.hero-text h5{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}
.hero-text p{
    width: 100%;
    max-width: 620px;
    font-weight: 400;
    font-size: var(--p-font);
    line-height: 32px;
    color: var(--text-color);
    margin-bottom: 40px;
}
.main-hero{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 13px 32px;
    background: var(--main-color);
    border: 2px solid transparent;
    border-radius: 7px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition:all .6s ease ;
    margin-right: 20px;
}
.btn:hover{
    transform: scale(1.1);
}

.price{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: var(--text-color);
}
.price span{
    font-size: 17px;
    font-weight: 400;
    color: var(--main-color);
    margin-left: 10px;
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 5%;
    transform: translateY(-50%);
}
.icons i{
    display: block; 
    margin: 35px 0;
    color: var(--text-color);
    font-size: 23px;
    transition: all .6s;
}
.icons i:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}

.scroll{
    position: absolute;
    top: 92%; right: 7%;
    transform: translateY(-50%);
}

.scroll  a{
    font-size: 16px;
    color: var(--text-color);
}
.scroll i{
    font-size: 20px;
    color: var(--text-color);
    margin-right: 6px;
}

@media (max-width:1378px) {
    header{
        padding: 22px 4%;
    }
    .icons{
        padding: 0 4%;
    }
    .scroll{
        right: 4%;
    }
}
@media (max-width:1670px) {
    :root{
        --big-font:5.5rem;
        --p-font:15px;
    }
}
@media (max-width:1370px) {
    .icons{
        display: none;
    }
    section{
        padding: 0 4%;
    }
}
    @media (max-width:1150px) {
        :root{
            --big-font:4.6rem;
        }
        .price{
            font-size: 20px;
        }
        .btn{
            padding: 10px 23px;
        }
     }

@media (max-width:920px) {
    .scroll{
        display: none;
    }
    .hero{
        grid-template-columns: 1fr;
        height: auto;
    }
    .hero-text{
        padding-top: 130px;
    }
    .hero-img{
        height: 500px;
        width: 500px;
        margin: 0 auto;
    }
    .hero-img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
@media (max-width:570px) {
    .hero{
        height: 100vh;
    }
    .hero-img{
        height: 400px;
        width: 400px;
margin: 0 auto;
    }
    :root{
        --big-font:4rem;
    }

}
@media (max-width:440px) {
    :root{
        --big-font:3.4rem;
    }
    .hero-text h5{
   font-size: 15px;

    }
    .hero-img{
        height:300px ;
        width: 300px;
        margin: 0 auto;
    }
}
.hero{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
